.background {
  background: $gray-bg;

  .bg-hold {
    position: relative;
    height: 400px;
  }

  .alt {
    .bg-hold,
    .about {
      height: 385px;
    }
  }

  .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &.bg-view { background-image: url(/images/background/platte-view.jpg); }
    &.bg-logo { background-image: url(/images/background/tonic-side-color.jpg); }
    &.bg-chair { background-image: url(/images/background/chair-alt.jpg); }
    &.bg-rested { background-image: url(/images/background/rested-color.jpg); }
  }

  .about {
    position: relative;
    font-size: 20px;
    color: $gray-text;
    text-align: center;

    .wrapper {
      display: table;
      height: 100%;
    }

    .wrap {
      display: table-cell;
      vertical-align: middle;
      padding: 15px 70px;
    }

    h3 {
      color: $white;
    }
  }
}//.intro

//769px to 992px
@media (max-width: $screen-md) {
  .background {
    .about {
      font-size: 18px;

      .wrap {
        padding: 15px 40px;
      }
    }

    h3 {
      font-size: 28px;
    }

    .bg-hold {
      height: 325px;
    }

    .alt {
      .bg-hold,
      .about {
        height: 325px;
      }
    }
  }
}

//481px to 768px
@media (max-width: $screen-sm) {
  .background {
    .about {
      font-size: 16px;

      .wrap {
        padding: 15px 30px;
      }
    }

    h3 {
      font-size: 24px;
    }
  }
}

//480px and Less
@media (max-width: $screen-xs) {
  .background {
    .entry, .exit {
      display: none;
    }

    .about {
      width: 100%;
      padding: 0 20px;
      font-size: 20px;
    }

    h3 {
      margin-top: 10px;
      font-size: 28px;
    }
  }
}