.background {
  background: $gray-bg;

  .bg-hold {
    position: relative;
    height: 400px;
  }

  .alt {
    .bg-hold,
    .about {
      height: 385px;
    }
  }

  .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &.bg-view { background-image: url(/images/background/platte-view.jpg); }
    &.bg-logo { background-image: url(/images/background/tonic-side-color.jpg); }
    &.bg-chair { background-image: url(/images/background/chair-alt.jpg); }
    &.bg-rested { background-image: url(/images/background/rested-color.jpg); }
  }

  .about {
    position: relative;
    font-size: 20px;
    height: 255px;
    color: $gray-text;
    padding: 48px 0 0 0;
    text-align: center;

    h3 {
      color: $white;
    }
  }
}//.intro