.hero {
  position: relative;
  height: 100vh;
  max-height: 800px;
  padding: 15px 0;
  background: url(/images/heros/hero.jpg) 50% 50% no-repeat;
  background-size: cover;
  color: #fff;

  .hero-logo {
    margin-top: 40px;
  }

  .hero-inner {
    position: absolute;
    bottom: 30px;
    right: 55px;
    text-align: right;
  }

  h1 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 68px;
    width: 800px;
    text-shadow: 0 0 20px rgba(255,255,255,.22);
    color: #222;

    span {
      color: $mulberry;
      font-weight: bold;
    }
  }
}//.hero

//769px to 992px
@media (max-width: $screen-md) {
  .hero {
    h1 {
      width: 700px;
      font-size: 58px;
    }
  }
}

//481px to 768px
@media (max-width: $screen-sm) {
  .hero {
    .hero-logo {
      margin-left: 40px;
    }

    h1 {
      width: 100%;
      font-size: 48px;
    }
  }
}

//480px and Less
@media (max-width: $screen-xs) {
  .hero {
    height: 60vh;

    .hero-logo {
      margin-top: 20px;
      margin-left: 40px;

      img {
        width: 80px;
        height: 80px;
      }
    }

    .hero-inner {
      position: absolute;
      left: 0;
      right: 0;
      top: auto;
      bottom: 22px;
      text-align: center;
    }

    h1 {
      width: 100%;
      font-size: 30px;
    }
  }
}