.hero {
  position: relative;
  height: 100vh;
  max-height: 800px;
  padding: 15px 0;
  background: url(/images/bg/hero.jpg) 50% 50% no-repeat;
  background-size: cover;
  color: #fff;

  .hero-logo {
    margin-top: 40px;
  }

  .hero-inner {
    position: absolute;
    bottom: 30px;
    right: 55px;
    text-align: right;
  }

  h1 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 68px;
    width: 800px;
    text-shadow: 0 0 20px rgba(255,255,255,.22);
    color: #222;

    span {
      color: $mulberry;
      font-weight: bold;
    }
  }
}//.hero
