.intro {
  overflow: hidden;
  padding: 62px 0 118px 0;

  .container {
    position: relative;

    img.glass {
      position: absolute;
      right: 50px;
      top: -102px;
    }
  }

  p {
    padding: 0 150px 0 0;
  }

  h2 {
    font-size: 40px;
    padding-right: 80px;

    strong {
      color: $mulberry;
    }
  }

  h3 {
    strong {
      color: $mulberry;
    }
  }
}//.intro

//993px to 1200px
@media (max-width: $screen-lg) {
  .intro {
    padding: 55px 0 75px 0;

    h2 {
      padding-right: 0;
      font-size: 32px;
    }
  }
}

//769px to 992px
@media (max-width: $screen-md) {
  .intro {
    padding: 50px 0 70px 0;

    h2 {
      padding-right: 0;
      font-size: 36px;
    }

    p {
      padding-right: 20px;
    }

    .container {
      img.glass {
        display: none;
      }
    }
  }
}

//481px to 768px
@media (max-width: $screen-sm) {
  .intro {
    padding: 40px 65px 60px 65px;

    img.glass {
      display: none;
    }
  }
}

//480px and Less
@media (max-width: $screen-xs) {
  .intro {
    padding: 30px 35px 40px 35px;

    h2 {
      font-size: 28px;
    }

    p {
      padding-right: 0;
    }
  }
}