.intro {
  background: $white;
  background-size: cover;
  padding: 102px 0 118px 0;

  p {
    padding: 0 150px 0 0;
  }

  h2 {
    font-size: 40px;
    padding-right: 80px;

    strong {
      color: $mulberry;
    }
  }

  h3 {
    strong {
      color: $mulberry;
    }
  }
}//.intro