// Global Mixins & Utilities

@mixin btn-hollow(
    $border-color: $gray,
    $text-color: $gray,
    $hover-bg-color: transparent,
    $hover-border-color: lighten($text-color,32%),
    $hover-text-color: lighten($text-color,32%)
  ) {
  background:             transparent;
  border-color:           $border-color;
  color:                  $text-color;

  &:hover,
  &:focus {
    outline:              none;
    background:           $hover-bg-color;
    border-color:         $hover-border-color;
    color:                $hover-text-color;
  }
}

.btn.btn-hollow             { @include btn-hollow(); }

// =Fixes
.wf-loading {
  visibility: hidden;
}// Typekit Flash of Unstyled Text