.values {
  background: $white;
  padding: 62px 30px 98px 30px;

  .flex-wrap {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
  }

  .value-intro {
    padding: 0 180px 5px 70px;

    h2 {
      strong {
        color: $mulberry;
      }
    }
  }

  .value {
    flex: 1;
    padding: 0 30px 20px 40px;
    background: $white;
    color: $gray;
    font-size: 18px;

    h3 {
      color: $gray-dark;
      font-size: 28px;
      padding-left: 28px;
      background: url(/images/slash.png) 0 0 no-repeat;
      background-size: 25px 42px;

      strong {
        color: $mulberry;
      }
    }
  }
}//.values

//481px to 768px
@media (max-width: $screen-sm) {
  .values {
    padding: 42px 30px 68px 30px;

    .value-intro {
      padding: 0 30px 5px 30px;

      h2 {
        font-size: 34px;
      }
    }

    .flex-wrap {
      flex-direction: column;
    }

    .value {
      padding: 0;
    }
  }
}