// Global Variables & Bootstrap Overrides

// =Grid
$grid-columns:            12    !default;
$grid-gutter-width:       0     !default;

// =Colors
$white:                   #fff;
$black:                   #000;
$gray-text:               #ccc;
$gray-bg:                 #1d1d1d;
$mulberry:                #830065;
$brand-info:              #85b9f3;

// =Links & Buttons
$link-hover-decoration:   none  !default;
$btn-border-radius-base:  0     !default;
$btn-border-radius-large: 0     !default;
$btn-border-radius-small: 0     !default;
.btn {
  border-width:           3px   !important;
}

// =Typography
$font-family-sans-serif:  "adelle-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:          20px  !default;
$line-height-base:        1.7   !default;
$headings-line-height:    1.3   !default;
