.collage {
  display: grid;
  grid-gap: 0;
  margin: 25px 0;
}

@media only screen and (min-width: 576px) {
  .collage {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(170px, auto);
    grid-gap: 0;
    margin: 50px 0;
  }
}

.collage .cell {
  margin: 0 10px 10px 0;
}

.collage .cell-photo {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.collage .cell-1 {
  grid-column: 1;
  grid-row: 1 / 3;
  background-image: url("/images/photos/lego.jpg");
  background-position-y: bottom;
}

.collage .cell-2 {
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  background-image: url("/images/photos/team.jpg");
  background-position-y: 30%;
  margin-right: 0;
}

.collage .cell-3 {
  grid-column: 1;
  grid-row: 3 / 6;
  background-image: url("/images/photos/ellen.jpg");
  background-position-y: 70%;
}

.collage .cell-4 {
  grid-column: 2;
  grid-row: 4 / 6;
  background-image: url("/images/photos/chris-and-kevin.jpg");
  background-position-y: 30%;
}

.collage .cell-5 {
  position: relative;
  display: flex;
  align-items: center;
  grid-column: 3 / 5;
  grid-row: 4 / 6;
  background-color: #282f44;
  padding: 50px;
  color: var(--color-white);
  margin-right: 0;
}

@media only screen and (min-width: 992px) {
  .collage .cell-5 {
    grid-column: 3;
  }
}

.collage .cell-5::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 10px;
  border: 3px solid var(--color-gray-light);
}

.collage .cell-5 h1 {
  position: relative;
  margin: 0 0 25px;
  padding-bottom: 25px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 40px;
}

.collage .cell-5 h1::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 2px;
  background: var(--color-gray-light);
  content: "";
}

.collage .cell-5 h1 span {
  display: inline-block;
  font-size: 28px;
  padding: 0 7px;
}

.collage .cell-5 p {
  font-size: 20px;
}

@media only screen and (max-width: 576px) {
  /* prevent large jpg loading on mobile */
  .collage .cell-photo {
    display: none;
    background-image: none;
  }

  .collage .cell-5 {
    margin: 0;
  }
}
