.hero {
  position: relative;
  height: 250px;
  padding: 25px 0;
  background-image: url('/images/hero.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 350px;
  }
}

@media only screen and (min-width: 992px) {
  .hero {
    height: 500px;
  }
}

.tagline-wrapper {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.hero .logo {
  display: block;
  width: 50px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 576px) {
  .hero .logo {
    width: 75px;
  }
}

.hero h1 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.25;
  font-size: 22px;
  text-align: right;
  color: var(--color-navy);
}

@media only screen and (min-width: 768px) {
  .hero h1 {
    font-size: 38px;
  }
}

@media only screen and (min-width: 992px) {
  .hero h1 {
    font-size: 48px;
  }
}

.hero h1 span {
  color: var(--color-purple);
}
