:root {
  --font-sans-serif-fallback:     -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-sans-serif:              'franklin-gothic-urw', var(--font-sans-serif-fallback);

  --font-serif-fallback:          Georgia, Times, 'Times New Roman', serif;
  --font-heading:                 'museo-slab', var(--font-serif-fallback);
  --font-heading-alt:             'bebas-neue', var(--font-sans-serif-fallback);

  --color-gray:                   #555;
  --color-gray-light:             #9da1ab;
  --color-navy:                   #282f44;
  --color-purple-dark:            #42033d;
  --color-purple:                 #860b63;
  --color-purple-light:           #9c6481;
  --color-purple-lighter:         #ba93a7;
  --color-white:                  #fff;

  --grid-container-max-width-lg:  960px;
  --grid-container-max-width-md:  720px;
  --grid-container-max-width-sm:  540px;
  --grid-container-max-width-xl:  1140px;
  --grid-section-max-width:       1600px;
  --grid-gutter-width:            30px;
}

@custom-media --breakpoint-xs-up only screen and (min-width: 0);
@custom-media --breakpoint-sm-up only screen and (min-width: 576px);
@custom-media --breakpoint-md-up only screen and (min-width: 768px);
@custom-media --breakpoint-lg-up only screen and (min-width: 992px);
@custom-media --breakpoint-xl-up only screen and (min-width: 1200px);

@custom-media --breakpoint-xs-down only screen and (max-width: 575px);
@custom-media --breakpoint-sm-down only screen and (max-width: 767px);
@custom-media --breakpoint-md-down only screen and (max-width: 991px);
@custom-media --breakpoint-lg-down only screen and (max-width: 1199px);
@custom-media --breakpoint-xl-down only screen and (min-width: 0);

@custom-media --breakpoint-xs-only only screen and (min-width: 0) and (max-width: 575px);
@custom-media --breakpoint-sm-only only screen and (min-width: 576px) and (max-width: 767px);
@custom-media --breakpoint-md-only only screen and (min-width: 768px) and (max-width: 991px);
@custom-media --breakpoint-lg-only only screen and (min-width: 992px) and (max-width: 1199px);
@custom-media --breakpoint-xl-only only screen and (min-width: 1200px);
